<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="Console" xsi:type="ColoredConsole"
                layout="${longdate} | ${pad:padding=2:fixedLength=true:inner=${threadid}:alignmentOnTruncation=Right} | ${pad:padding=5:fixedLength=true:inner=${level:uppercase=true}} | ${pad:padding=20:inner=${logger:shortName=true}} > ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
        <!-- 
        Set name to fully qualified name to debug for example single classes 
        
        Example: 
        <logger name="HaptiOS.Src.DroneControl.DroneController" level="Debug" writeTo="console" />
        -->

    </rules>
</nlog>